@model SahinRektefiyeSoln.Models.ViewModels.IsEmri.TicketDetailViewModel

@{
    int marginValue = 200;
    string margin;
}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-BHCtZXbuh0CzFwQYaEJ67tBikRCFMSDlrJfvj7y8hxJx+Sn6XIHGBh+UD5xgOovpKzgxUVVJ79q2hF3J9vQ5sA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        td {
            text-align: left !important;
        }

        #table-one th {
            font-size: 20px;
        }

        #table-two th:first-child, #table-two td:first-child {
            width: 25%;
        }

        #table-two th:last-child, #table-two td:last-child {
            text-align: center;
        }

        #table-two th, #table-two td {
            border: 1px solid black;
            padding: 5px;
        }

        h5 {
            font-size: 20px;
        }

        .x th,
        .x td {
            width: 50%;
            box-sizing: border-box;
            padding: 10px;
            border: 1px solid black;
        }

        .icon-cell {
            width: 20px;
        }

        #tbl1, #tbl2 {
            width: 100%;
            border-collapse: collapse;
        }

        #tbl1, #tbl2 td {
            text-align: left;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        @if (Model.IsLogoEnable == 1)
        {
            <img src="@Url.Content(Server.MapPath("~/Images/GmyLogo.png"))" style="display: inline-block; width:102px; height:92px;" />
            <h2 style="margin:0 0 0 120px; display:inline-block;"><strong>Arıza Bildirim Formu</strong></h2>
            <img src="@Url.Content(Server.MapPath("~/Images/StaticLogoShn1.png"))" style="display: inline-block; margin-left:50px;" />
        }
        else
        {
            <h2 style="margin:0 0 20px 220px; display:inline-block;"><strong>Arıza Bildirim Formu</strong></h2>
            <img src="@Url.Content(Server.MapPath("~/Images/StaticLogoShn1.png"))" style="display: inline-block; margin-left:50px;" />
        }
    </div>

    <table id="table-one" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border:2px solid black;">
        <tr>
            <th style="padding-left: 30px;">İş Emri No: SN-27 @Model.TalepId</th>
            <th style="padding-left: 120px;">Kapak Dolap No: @Model.KapakDolapNo</th>
            <th style="padding-left: 100px; padding-right:80px;">Motor Dolap No: @Model.MotorDolapNo</th>
        </tr>
    </table>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: silver; text-align: center;">
        <h5><strong>Motor Bilgileri</strong></h5>
    </div>
    <table id="table-two" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border:1px solid black;">
        <tr>
            <th style="text-align:left;">Bildirim Tarihi:</th>
            <td>@Model.BildirimTarihi</td>
            <th style="text-align:left;">Alınan İş:</th>
            <td>
                @if (Model.AlınanIs == 1)
                {
                    <span>Motor</span>
                }
                else if (Model.AlınanIs == 2)
                {
                    <span>Kapak</span>
                }
                else if (Model.AlınanIs == 3)
                {
                    <span>Motor - Kapak</span>
                }
            </td>
        </tr>
        <tr>
            <th style="text-align:left;">Servis Adı:</th>
            <td>@Model.ServisAdı</td>
            <th style="text-align:left;">Plaka No:</th>
            <td>@Model.Plaka</td>
        </tr>
        <tr>
            <th style="text-align:left;">Marka/Model:</th>
            <td>@Model.BrandModelName</td>
            <th style="text-align:left;">Araç KM:</th>
            <td>@Model.KM</td>
        </tr>
        <tr>
            <th style="text-align:left;">Motor Tipi:</th>
            <td>@Model.MotorTipi</td>
            <th style="text-align:left;">Şasi No:</th>
            <td>@Model.VinNo</td>
        </tr>
        <tr>
            <th style="text-align:left;">Yakıt Tipi:</th>
            <td>
                @if (Model.YakıtTipi == 0)
                {
                    <span>Benzin</span>
                }
                else if (Model.YakıtTipi == 1)
                {
                    <span>Dizel</span>
                }
                else if (Model.YakıtTipi == 2)
                {
                    <span>Lpg</span>
                }
            </td>
            <th style="text-align:left;">Motor No:</th>
            <td>@Model.MotorNo</td>
        </tr>
        <tr>
            <th style="text-align:left;">Silindir Sayısı:</th>
            <td>@Model.SilindirSayisi</td>
            <th style="text-align:left;">Supap Sayısı:</th>
            <td>@Model.SupapSayisi</td>
        </tr>
    </table>
    <table id="table-three" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border:1px solid black;">
        <tr class="x">
            <th style="text-align:left;">Araç Üretici Firma Garantisi Altında Mı?</th>
            <td>
                @if (Model.Garanti)
                {
                    <span>Evet</span>
                }
                else
                {
                    <span>Hayır</span>
                }
            </td>
        </tr>
        <tr class="x">
            <th style="text-align:left;">Motorda Daha Önce Revizyon Yapılmış Mı?</th>
            <td>
                @if (Model.Revizyon)
                {
                    <span>Evet</span>
                }
                else
                {
                    <span>Hayır</span>
                }
            </td>
        </tr>
        <tr class="x">
            <th style="text-align:left;">Revizyon Yapılmış İse Açıklama</th>
            <td>@Model.RevizyonAciklama</td>
        </tr>
        <tr class="x">
            <th style="text-align:left;">Servis Tarafından Verilen İş Emri No (İKK)</th>
            <td>@Model.ServisNo</td>
        </tr>
    </table>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: silver; text-align: center;">
        <h5><strong>Arıza Bildirimleri</strong></h5>
    </div>

    <div>
        <table id="tbl1">
            @for (int i = 0; i < Model.Ariza.Count; i += 2)
            {
                <tr>
                    <td class="icon-cell">
                        @if (Model.Ariza[i].Selected)
                        {
                            <i class="fas fa-check-square"></i>
                        }
                        else
                        {
                            <i class="fas fa-square"></i>
                        }
                    </td>
                    <td>@Model.Ariza[i].Text</td>
                    @if (i + 1 < Model.Ariza.Count)
                    {
                        <td class="icon-cell">
                            @if (Model.Ariza[i + 1].Selected)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else
                            {
                                <i class="fas fa-square"></i>
                            }
                        </td>
                        <td>@Model.Ariza[i + 1].Text</td>
                    }
                </tr>
            }
        </table>
    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: silver; text-align: center;">
        <h5><strong>Müşteri Özel İstekleri</strong></h5>
    </div>
    <span>@Model.MusteriNot</span>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: silver; text-align: center;">
        <h5><strong>Servisten Tamir İçin Alınan Parçalar</strong></h5>
    </div>

    <div>
        <table id="tbl2">
            @for (var i = 0; i < Model.Parcalar.Count; i += 2)
            {
                <tr>
                    <td>
                        <div>
                            @if (Model.Parcalar[i].Selected)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else
                            {
                                <i class="fas fa-square"></i>
                            }
                            <span>@Model.Parcalar[i].Text</span>
                            @if (Model.ParcalarText != null && Model.ParcalarText.Count > 0 && Model.Parcalar[i].IsContainPiece == 1 && Model.ParcalarText[i] != "0")
                            {
                                <span><strong>@Model.ParcalarText[i] adet</strong></span>
                            }
                        </div>
                    </td>
                    @if (i + 1 < Model.Parcalar.Count)
                    {
                        <td>
                            <div>
                                @if (Model.Parcalar[i + 1].Selected)
                                {
                                    <i class="fas fa-check-square"></i>
                                }
                                else
                                {
                                    <i class="fas fa-square"></i>
                                }
                                <span>@Model.Parcalar[i + 1].Text</span>
                                @if (Model.ParcalarText != null && Model.ParcalarText.Count > 0 && Model.Parcalar[i + 1].IsContainPiece == 1 && Model.ParcalarText[i + 1] != "0")
                                {
                                    <span><strong>@Model.ParcalarText[i + 1] adet</strong></span>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: silver; text-align: center;">
        <h5><strong>Onay</strong></h5>
    </div>
    <div style="display: table; width: 100%; table-layout: fixed;">
        <div style="display: table-row;">
            <div style="display: table-cell; width: 10%; vertical-align: bottom; border: 1px solid black; padding: 5px;">
                <div style="writing-mode: vertical-rl; text-orientation: mixed;"><strong>Başlangıç</strong></div>
            </div>
            <div style="display: table-cell; width: 90%; vertical-align: bottom; border: 1px solid black; padding: 5px;">
                <div style="display: flex; justify-content: space-between;">
                    <div><strong>Servis Yetkilisi Ad-Soyad ve İmza:</strong></div>
                    <div><strong>Teslim Alan Ad-Soyad ve İmza:</strong></div>
                </div>
                <br />
                <div style="writing-mode: vertical-rl; text-orientation: upright;"><strong>Teslim Alınma Tarihi:</strong></div>
            </div>
        </div>

        <div style="display: table-row;">
            <div style="display: table-cell; width: 10%; vertical-align: top; border: 1px solid black; padding: 5px;">
                <div style="writing-mode: vertical-rl; text-orientation: upright;"><strong>Bitiş</strong></div>
            </div>
            <div style="display: table-cell; width: 90%; vertical-align: bottom; border: 1px solid black; padding: 5px;">
                <div style="display: flex; justify-content: space-between;">
                    <div><strong>Servis Yetkilisi Ad-Soyad ve İmza:</strong></div>
                    <div><strong>Teslim Eden Ad-Soyad ve İmza:</strong></div>
                </div>
                <br />
                <div style="writing-mode: vertical-rl; text-orientation: mixed;"><strong>Teslim Edilme Tarihi:</strong></div>
            </div>
        </div>
    </div>
</body>
</html>
