@model SahinRektefiyeSoln.Models.Services

@{
    ViewBag.Title = "Servis Tanımla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("SetPageHeader", "Admin", new { pageTitle = "Servis Tanımlama", pagePermission = "MNGR_01" })

<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()



		<div class="w3-row">
			<div class="w3-third w3-padding">
				<label>Servis Adı</label>
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "w3-input w3-border w3-round", maxlength = "256", autocomplete = "off" } })
			</div>
			<div class="w3-third w3-padding">
				<label>İlgili Kişi</label>
				@Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "w3-input w3-border w3-round", maxlength = "256", autocomplete = "off" } })
			</div>
			<div class="w3-third w3-padding">
				<label>Telefon Numarası</label>
				@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "w3-input w3-border w3-round phone", maxlength = "50", autocomplete = "off" } })
			</div>
		</div>
		<div class="w3-row">
			<div class="w3-padding">
				<label class="w3-text-grey">Adres</label>
				@Html.TextAreaFor(model => model.Address, new { @class = "w3-input w3-border w3-round" , maxlength = "1024", autocomplete = "off" })
			</div>
		</div>
		<hr>

		<div class="w3-row">
			<div class="w3-quarter">&nbsp;</div>
			<div class="w3-quarter">&nbsp;</div>
			<div class="w3-quarter w3-padding">

			</div>
			<div class="w3-quarter  w3-padding">
				<button class="w3-btn w3-ripple w3-green w3-right">Servis Ekle</button>
			</div>
		</div>
}
	</div>
</div>

