@model SahinRektefiyeSoln.Models.WayBills

@{
	ViewBag.Title = "İrsaliye Oluştur";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("SetPageHeader", "Admin", new { pageTitle = "İrsaliye Oluştur", pagePermission = "ADM_15" })
<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<style>
	table {
		font-size: 1em;
	}

	.ui-draggable, .ui-droppable {
		background-position: top;
	}
</style>
<script>
	$(document).ready(function () {
		$('#WayBillDate').datepicker({
			dateFormat: "dd-mm-yy",
			monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
			dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
			firstDay: 1
		});



		if ($('#SupplierId').val() == "") {
			$('#SupplierBlock').addClass("w3-hide");
		} else {
			$('#SupplierBlock').addClass("w3-show");
		}


	});
	function onChangeSupplier(s, e) {
        var url = '@Url.Action("GetSupplierInfos", "Admin")';

        var ODD = $("#SupplierId").val();
		if (ODD != "") {
			$.getJSON(url, { SupplierId: ODD }, function (response) {
				console.log(response);

					$("#SupplierCode").val(response.SupplierCode);

					$("#SupplierName").val(response.Name);

				$("#SupplierPhone").val(response.PhoneNo);
				$("#SupplierVD").val(response.CompanyVd);
				$("#SupplierVN").val(response.CompanyVNo);
				$("#SupplierAddress").val(response.Address);
				$("#SupplierNameHeader").text(response.Name);
			});
		}

		if ($('#SupplierId').val() == "") {
			$('#SupplierBlock').removeClass("w3-show").addClass("w3-hide");
		} else {
			$('#SupplierBlock').removeClass("w3-hide").addClass("w3-show");
		}


    }
</script>
<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		@using (Html.BeginForm())
		{
			@*<div class="w3-row w3-padding">
					@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "w3-input w3-border w3-round ", maxlength = "128", placeholder = "İrsaliye Başlık", autocomplete = "off" } })
				</div>*@
			<div class="w3-row ">
				<div class="w3-third w3-padding">
					<label>İrsaliye No</label>
					@Html.EditorFor(model => model.WayBillNo, new { htmlAttributes = new { @class = "w3-input w3-border w3-round ", maxlength = "50", autocomplete = "off" } })
				</div>
				<div class="w3-third w3-padding">
					<label>Tedarikçi</label>
					@Html.DropDownListFor(model => model.SupplierId, (SelectList)ViewBag.Suppliers, "Tedarikçi Seçiniz", htmlAttributes: new { @class = "w3-select w3-border w3-round", @Id = "SupplierId", @onchange = "onChangeSupplier(this);" })
				</div>
				<div class="w3-third w3-padding">
					<label>İrsaliye Tarihi</label>
					@Html.EditorFor(model => model.WayBillDate, new { htmlAttributes = new { @class = "w3-input w3-border w3-round date", id = "WayBillDate", autocomplete = "off" } })
				</div>
			</div>

			<div id="SupplierBlock" class="w3-margin-bottom w3-padding">
				<button onclick="myFunction('CompanyInfo'); return false;" class="w3-btn w3-block w3-blue w3-left-align w3-round">Firma Bilgileri </button>
				<div id="CompanyInfo" class=" w3-hide w3-border ">
					<div class="w3-row">
						<div class="w3-third  w3-padding">
							<input class="w3-input w3-border w3-round" type="text" id="SupplierCode" disabled>
						</div>
						<div class="w3-third  w3-padding">
							<input class="w3-input w3-border w3-round" type="text" id="SupplierName" disabled>
						</div>
						<div class="w3-third  w3-padding">
							<input class="w3-input w3-border w3-round" type="text" id="SupplierPhone" disabled>
						</div>
					</div>
					<div class="w3-row">
						<div class="w3-third w3-padding">
							<input class="w3-input w3-border w3-round" type="text" id="SupplierVD" disabled>
						</div>
						<div class="w3-third w3-padding">
							<input class="w3-input w3-border w3-round" type="text" id="SupplierVN" disabled>
						</div>
					</div>
					<div class="w3-row ">
						<div class="w3-padding">
							<textarea class="w3-input w3-border w3-round" id="SupplierAddress" disabled></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="w3-row w3-padding">
				<div class="w3-quarter"><label>&nbsp;</label></div>
				<div class="w3-quarter"><label>&nbsp;</label></div>
				<div class="w3-quarter"><label>&nbsp;</label></div>
				<div class="w3-quarter">
					<div class="w3-quarter w3-padding w3-right">
						<label>&nbsp;</label><br>
						<button class="w3-btn w3-ripple w3-green">Ekle</button>
					</div>
				</div>
			</div>
		}
	</div>
	<script>
		function myFunction(id) {


			var x = document.getElementById(id);
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}

		}
	</script>
</div>
