@model SahinRektefiyeSoln.Models.Parts

@{
    ViewBag.Title = "Parça Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("SetPageHeader", "Admin", new { pageTitle = "Hizmet Düzenle", pagePermission = "EMP_01" })

<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="w3-row">
			<div class="w3-third w3-padding">
				<label>Hizmet Adı</label>
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "w3-input w3-border w3-round", autocomplete = "off", required = "required" } })
			</div>
		</div>

		<div class="w3-row">
			<div class="w3-third w3-padding">
				<label>Hizmet Kodu</label>
				@Html.EditorFor(model => model.PartCode, new { htmlAttributes = new { @class = "w3-input w3-border w3-round", required = "required" } })
			</div>
		</div>


		@*<div class="w3-row">
			<div class="w3-third w3-padding">
				<label>Stok Adet</label>
				@Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "w3-input w3-border w3-round", type = "number", min = "0", max = "100", placeholder = "0" } })
			</div>
		</div>*@
		<hr />
		<div class="w3-row">
			<div class="w3-quarter"> <a href="/Admin/Parts" class="w3-btn w3-ripple w3-blue"><i class="fa fa-arrow-left"></i>&nbsp;Geri </a></div>
			<div class="w3-quarter">&nbsp;</div>
			<div class="w3-quarter w3-padding">

			</div>
			<div class="w3-quarter  w3-padding">
				<button class="w3-btn w3-ripple w3-green w3-right">Güncelle</button>
			</div>
		</div>
}
	</div>
</div>