@model IEnumerable<SahinRektefiyeSoln.Models.WebErrorLogs>
@{
	ViewBag.Title = "Errors";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("SetPageHeader", "Admin", new { pageTitle = "Hatalar", pagePermission = "ADM_001" })
<style>
	#dtHatalar {
		font-family: tahoma;
	}
</style>

<script>
	$(document).ready(function () {
		jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            'locale-compare-asc': function (a, b) {
                return a.localeCompare(b, 'cs', { sensitivity: 'case' })
            },
            'locale-compare-desc': function (a, b) {
                return b.localeCompare(a, 'cs', { sensitivity: 'case' })
            }
        })

        jQuery.fn.dataTable.ext.type.search['locale-compare'] = function (data) {
            return NeutralizeAccent(data);
        }

		function NeutralizeAccent(data) {
            return !data
                ? ''
                : typeof data === 'string'
                    ? data
                        .replace(/\n/g, ' ')
                        .replace(/[éÉěĚèêëÈÊË]/g, 'e')
                        .replace(/[šŠ]/g, 's')
                        .replace(/[čČ]/g, 'c')
                        .replace(/[řŘ]/g, 'r')
                        .replace(/[žŽ]/g, 'z')
                        .replace(/[ýÝ]/g, 'y')
                        .replace(/[áÁâàÂÀ]/g, 'a')
                        .replace(/[íÍîïÎİÏ]/g, 'i')
                        .replace(/[ťŤ]/g, 't')
                        .replace(/[ďĎ]/g, 'd')
                        .replace(/[ňŇ]/g, 'n')
                        .replace(/[óÓ]/g, 'o')
                        .replace(/[úÚůŮ]/g, 'u')
                    : data
        }

		$('#dtHatalar').DataTable({
			"processing": true,
			"filter": true,
			"language": {
				"sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
				"oPaginate": { "sFirst": "İlk", "sLast": "Son", "sNext": "İleri", "sPrevious": "Geri" },
				"select": { "rows": { "_": "%d kayıt seçildi", "0": "", "1": "1 kayıt seçildi" } },
				"sSearch": "",
				"selectAll": "Tümünü Seç",
				"sSearchPlaceholder": "Filtrele",
				"sLengthMenu": "_MENU_",
				"sLoadingRecords": "Yükleniyor...",
				"sProcessing": "İşleniyor...",
				"sZeroRecords": "Eşleşen kayıt bulunamadı...",
				"sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar.",
				"sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
				"sInfoEmpty": "Kayıt Yok",
				"sInfoPostFix": "",
				"sInfoThousands": ".",
				"sDecimal": ","
			},
            columnDefs : [
							 { targets: 0, type: 'locale-compare' },
						  ]
        });

	   $("input[type='search']").keyup(function () {
            table.search(
                jQuery.fn.dataTable.ext.type.search.string(NeutralizeAccent(this.value))
            )
                .draw()

        });
	});
</script>

<div class="w3-panel">
	<div class="w3-row-padding w3-card w3-padding">

		<table id="dtHatalar">
			<thead>
				<tr>
					<th>#</th>
					@*<th>Hata Id</th>*@
					<th>Kullanıcı Adı</th>
					<th>Hata</th>
					<th>Sayfa</th>
					<th>Hata Tarihi</th>
					<th>Full URL</th>
					<th>Parametreler</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var hata in Model.OrderByDescending(x=>x.DtLog))
			{
				<tr>
					<td>
						<a href="/Admin/Error?LogId=@hata.IdLog" title="Hata Detayını Görüntüle" class="w3-btn w3-ripple w3-blue w3-round">Hata Detay</a>
					</td>
					@*<td>@hata.IdLog</td>*@
					<td>@hata.UserName</td>

					<td>@hata.Error</td>
					<td>@hata.Page</td>
					<td>@hata.DtLog</td>
					<td>@hata.FullUrl</td>
					<td>@hata.Parameters</td>
				</tr>

		}
			</tbody>
		</table>

	</div>
</div>