@model IEnumerable<SahinRektefiyeSoln.Models.Messages>

@{
	ViewBag.Title = "MailBox";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int counter = 0;
}

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-white w3-card" style="z-index: 3; width: 320px; display: none;" id="mySidebar">

	<a href="javascript:void(0)" onclick="w3_close()" title="Close Sidemenu" class="w3-bar-item w3-button w3-hide-large w3-large">Close <i class="fa fa-remove"></i></a>
	<a href="/Mail/TopluMailGonder" class="w3-bar-item w3-button w3-dark-grey w3-button w3-hover-black w3-left-align">Toplu Mail Gönder<i class="w3-padding fa fa-pencil"></i></a>
	<a href="javascript:void(0)" class="w3-bar-item w3-button w3-dark-grey w3-button w3-hover-black w3-left-align" onclick="document.getElementById('id01').style.display='block'">Yeni Mesaj<i class="w3-padding fa fa-pencil"></i></a>
	<a id="myBtn" onclick="myFunc('Demo1')" href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>Gelen Kutusu (@Model.Where(x=>x.SwRead==false).Count())<i class="fa fa-caret-down w3-margin-left"></i></a>
	<div id="Demo1" class="w3-hide w3-animate-left">
		@foreach (var item in Model)
		{
			
			<a href="javascript:void(0)" class="w3-bar-item w3-button w3-border-bottom test w3-hover-light-grey w3-light-grey" MessageId="@(item.MessageId)" onclick="openMail(this,'@(item.FromEmail+counter)');w3_close();" id="firstTab">
				<div class="w3-container">
					<img class="w3-round w3-margin-right" src="/Images/user-512.png" style="width:15%;"><span class="w3-opacity w3-large">
	@item.FromName
					@if (item.SwRead == false)
					{
						<i class="fa fa-flag" aria-hidden="true"></i>
					}
				</span>
					<h6>Konu: @item.FromSubject</h6>
					@if (item.Message.Length >26)
					{
						<p>@item.Message.Substring(0, 25)</p>
					}
					else
					{
						<p>@item.Message</p>
					}

				</div>
			</a>
		}
	</div>
	@*<a href="https://www.w3schools.com/w3css/tryw3css_templates_mail.htm#" class="w3-bar-item w3-button"><i class="fa fa-paper-plane w3-margin-right"></i>Sent</a>
		<a href="https://www.w3schools.com/w3css/tryw3css_templates_mail.htm#" class="w3-bar-item w3-button"><i class="fa fa-hourglass-end w3-margin-right"></i>Drafts</a>
		<a href="https://www.w3schools.com/w3css/tryw3css_templates_mail.htm#" class="w3-bar-item w3-button"><i class="fa fa-trash w3-margin-right"></i>Trash</a>*@
</nav>

<!-- Modal that pops up when you click on "New Message" -->
<div id="id01" class="w3-modal" style="z-index:4">
	<div class="w3-modal-content w3-animate-zoom">
		<div class="w3-container w3-padding w3-red">
			<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-red w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
			<h2>Mesaj Gönder</h2>
		</div>
		<div class="w3-panel">
			<label>Kime</label>
			<input class="w3-input w3-border w3-margin-bottom" type="text">
			<label>Kimden</label>
			<input class="w3-input w3-border w3-margin-bottom" type="text">
			<label>Konu</label>
			<input class="w3-input w3-border w3-margin-bottom" type="text">
			<input class="w3-input w3-border w3-margin-bottom" style="height:150px" placeholder="Mesaj?">
			<div class="w3-section">
				<a class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'">İptal &nbsp;<i class="fa fa-remove"></i></a>
				<a class="w3-button w3-light-grey w3-right" onclick="document.getElementById('id01').style.display='none'">Gönder &nbsp;<i class="fa fa-paper-plane"></i></a>
			</div>
		</div>
	</div>
</div>

<!-- Overlay effect when opening the side navigation on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer; display: none;" title="Close Sidemenu" id="myOverlay"></div>

<!-- Page content -->
<div class="w3-main" style="margin-left:320px;">
	<i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" onclick="w3_open()"></i>
	<a href="javascript:void(0)" class="w3-hide-large w3-red w3-button w3-right w3-margin-top w3-margin-right" onclick="document.getElementById('id01').style.display='block'"><i class="fa fa-pencil"></i></a>
	@foreach (var item in Model)
	{
	<div id="@(item.FromEmail+counter)" class="w3-container person" style="display: block;">
		<br>
		<img class="w3-round  w3-animate-top" src="/Images/user-512.png" style="width:10%;">
		<h5 class="w3-opacity">Konu: @item.FromSubject</h5>
		<h4><i class="fa fa-clock-o"></i>  @item.FromName kişisinden , @item.CreatedDate.ToShortDateString() tarihinde gönderildi.</h4>
		<a href="/Admin/DeleteMail?MessageId=@item.MessageId" class="w3-btn w3-ripple w3-red" onclick="if (!confirm('Maili silmek istediğinizden emin misiniz?')) return false;"><i class="fa fa-trash-o"></i>&nbsp; Sil </a>
		@*<a class="w3-button w3-light-grey" href="https://www.w3schools.com/w3css/tryw3css_templates_mail.htm#">Cevapla<i class="w3-margin-left fa fa-mail-reply"></i></a>*@
		@*<a class="w3-button w3-light-grey" href="https://www.w3schools.com/w3css/tryw3css_templates_mail.htm#">Forward<i class="w3-margin-left fa fa-arrow-right"></i></a>*@
		<hr>
		<p>@item.Message</p>
	</div>
	}

</div>

<script>
	var openInbox = document.getElementById("myBtn");
	openInbox.click();

	function w3_open() {
		document.getElementById("mySidebar").style.display = "block";
		document.getElementById("myOverlay").style.display = "block";
	}

	function w3_close() {
		document.getElementById("mySidebar").style.display = "none";
		document.getElementById("myOverlay").style.display = "none";
	}

	function myFunc(id) {
		var x = document.getElementById(id);
		if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
			x.previousElementSibling.className += " w3-red";
		} else {
			x.className = x.className.replace(" w3-show", "");
			x.previousElementSibling.className =
				x.previousElementSibling.className.replace(" w3-red", "");
		}
	}


	function openMail(element,personName) {
		var i;
		var x = document.getElementsByClassName("person");
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		x = document.getElementsByClassName("test");
		for (i = 0; i < x.length; i++) {
			x[i].className = x[i].className.replace(" w3-light-grey", "");
		}
		document.getElementById(personName).style.display = "block";
		event.currentTarget.className += " w3-light-grey";
		
		var postUrl = '@Url.Action("ReadMail", "Home")';
		//alert(element.getAttribute('messageid'));
		$.ajax({
			type: "POST",
			url: postUrl,
			content: "application/json; charset=utf-8",
			dataType: "json",
			data: { MessageId: element.getAttribute('messageid')},//JSON.stringify(),
			success: function (d) {
				if (d.success == true)
					null;
				else {

				}
			},
			error: function (xhr, textStatus, errorThrown) {
				alert('Error2 \n' + data);// TODO: Show error
			}
		});
	}
</script>

<script>
	var openTab = document.getElementById("firstTab");
	openTab.click();
</script>

