@model IEnumerable<SahinRektefiyeSoln.Models.Musteri>

<div class="w3-row w3-padding-bottom">
    <div class="w3-half">
        <button type="button" id="btnrefresh" class="w3-btn w3-green w3-round"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp; Müşteri Yenile</button>
    </div>
    <div class="w3-half w3-right"><a href="/Musteri/Create" class="w3-btn w3-ripple w3-green  w3-round w3-right " target="_blank"><i class="fa fa-user-plus"></i>&nbsp;Yeni Müşteri Ekle</a></div>
</div>

<table id="example">
    <thead>
        <tr>
            <th></th>
            <th>Müşteri Adı</th>
            <th>Tc/Vergi No</th>
            <th>Bireysel/Kurumsal</th>
            <th>İlgili Kişi</th>
            <th>Şube</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td><button class="btn-login w3-blue w3-btn btnModelMusteriSec" title="Müşteri Seç" MusteriSube="@(musteri.Sube != null ? musteri.Sube : "")" MusteriAdres="@musteri.Adres" MusteriTel="@(musteri.MusteriTelefon.FirstOrDefault() != null ? musteri.MusteriTelefon.FirstOrDefault().TelefonNumarasi : "")" MusteriTip="@musteri.MusteriTipi" MusteriKontak="@musteri.KontakAdi @musteri.KontakSoyadi" MusteriId="@musteri.MusteriId" MusteriDesc="@(musteri.MusteriTipi == "B" ? (musteri.MusteriAdi.ToString() +" "+ musteri.MusteriSoyadi.ToString()):musteri.KurumAdi.ToString())"><i class="fa fa-user-circle-o w3-small" aria-hidden="true"></i> Seç</button></td>
                <td>
                    @if (musteri.MusteriTipi == "B")
                    {
                        <label>@musteri.MusteriAdi @musteri.MusteriSoyadi</label>
                    }
                    else
                    {
                        <label>@musteri.KurumAdi</label>
                    }
                </td>
                <td>
                    @if (musteri.MusteriTipi == "B")
                    {
                        <label>@musteri.TCKN</label>
                    }
                    else
                    {
                        <label>@musteri.VergiNo</label>
                    }

                </td>
                <td>
                    @if (musteri.MusteriTipi == "B")
                    {
                        <label>Bireysel</label>
                    }
                    else
                    {
                        <label>Kurumsal</label>
                    }
                </td>
                <td>
                    @if (musteri.MusteriTipi == "K")
                    {
                        <label>@musteri.KontakAdi @musteri.KontakSoyadi</label>
                    }
                </td>
                <td>
                    <label>@musteri.Sube</label>
                </td>
            </tr>

        }
    </tbody>
</table>
