@model SahinRektefiyeSoln.Models.ViewModels.Ticket.ShowTicketDetailViewModel
@{
    ViewBag.Title = "Talep Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-row" style="text-align:center; margin-top:20px;">
    <a href="@Url.Action("DetailEdit","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Arıza Bildirim Formu</a>
    <a href="@Url.Action("EngineInputDimensionalControl","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Motor Giriş Kontrol Formu</a>
    <a href="@Url.Action("EngineOutputQuality","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Motor Çıkış Kalite Formu</a>
    <a href="" class="w3-btn w3-ripple w3-green">Kapak Giriş Kalite Formu</a>
</div>

<div class="w3-panel">
    <div class="w3-row-padding w3-card w3-padding-top ">
        <div class="w3-row">
            <div class="w3-row w3-padding-left">
                <h4>Talep Şekli</h4>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Talep No:</strong> @Model.TalepNo</label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Talep Şekli:</strong> @Model.TalepSekli</label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Talep Tarihi:</strong> @Model.TalepTarihi</label>
            </div>
            @if (Model.TalepSekliId == 1 || Model.TalepSekliId == 2)
            {
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Müşteri Arama Tarihi:</strong> @Model.MusteriAramaTarihi</label>
                </div>
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Şoför:</strong> @Model.Sofor</label>
                </div>
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Hizmet:</strong> @Model.Hizmet</label>
                </div>
            }
            @if (Model.TalepSekliId == 3)
            {
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Müşteri Atölye Geliş Tarihi:</strong> @Model.MusteriAtolyeGelisTarihi</label>
                </div>
            }
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Notlar:</strong> @Model.Notlar</label>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="w3-panel">
    <div class="w3-row-padding w3-card w3-padding-top ">
        <div class="w3-row">
            <div class="w3-row w3-padding-left  ">
                <h4>Müşteri Bilgisi</h4>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Müşteri:</strong> @Model.Musteri</label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Müşteri Tipi:</strong> @Model.MusteriTipi</label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label>
                    <strong>Telefon:</strong>
                    @if (Model.Telefon.Count > 0)
                    {
                        foreach (var telefon in Model.Telefon)
                        {
                            <label>@telefon</label>
                            <br />
                        }
                    }
                </label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label>
                    <strong>Email:</strong>
                    @if (Model.Email.Count > 0)
                    {
                        foreach (var email in Model.Email)
                        {
                            <label>@email</label>
                            <br />
                        }
                    }
                </label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Adres:</strong> @Model.Adres</label>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="w3-panel">
    <div class="w3-row-padding w3-card w3-padding-top ">
        <div class="w3-row">
            <div class="w3-row w3-padding-left  ">
                <h4>Araç Bilgisi</h4>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Marka/Model:</strong> @Model.MarkaModel</label>
            </div>
            <div class="w3-col s12 m3 l3 w3-padding">
                <label><strong>Plaka:</strong> @Model.Plaka</label>
            </div>
        </div>
        <hr />
    </div>
</div>

@if (Model.TalepSekliId == 4)
{
    <div class="w3-panel">
        <div class="w3-row-padding w3-card w3-padding-top ">
            <div class="w3-row">
                <div class="w3-row w3-padding-left  ">
                    <h4>Kargo Bilgisi</h4>
                </div>
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Kargo Veriliş Tarihi:</strong> @Model.KargoyaVerilisTarihi</label>
                </div>
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Arama Tarihi:</strong> @Model.AramaTarihi</label>
                </div>
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Kargo Firması:</strong> @Model.KargoFirmasi</label>
                </div>
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Gönderi Kodu:</strong> @Model.GonderiKodu</label>
                </div>
            </div>
            <hr />
        </div>
    </div>
}
