@model SahinRektefiyeSoln.Models.ViewModels.Ticket.ShowTicketDetailViewModel
@{
    ViewBag.Title = "Talep Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        margin: 0 auto;
        border-collapse: collapse;
        width: 80%;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>


<div class="w3-row" style="text-align:center; margin-top:20px;">
    <a href="@Url.Action("DetailEdit","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Arıza Bildirim Formu</a>
    <a href="@Url.Action("EngineInputDimensionalControl","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Motor Giriş Kontrol Formu</a>
    <a href="@Url.Action("EngineOutputQuality","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Motor Çıkış Kalite Formu</a>
    <a href="@Url.Action("CapInputQuality","Ticket",new {id = Model.TalepNo })" class="w3-btn w3-ripple w3-green">Kapak Giriş Kalite Formu</a>
</div>

<div class="w3-container">
    <div class="w3-panel w3-third">
        <div class="w3-row-padding w3-card w3-padding-top" style="height:337px;">
            <div class="w3-row w3-padding-left">
                <h4>Talep Bilgisi</h4>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 w3-padding">
                    <label><strong>Talep No:</strong> @Model.TalepNo</label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label><strong>Talep Şekli:</strong> @Model.TalepSekli</label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label><strong>Talep Tarihi:</strong> @Model.TalepTarihi</label>
                </div>
                @if (Model.TalepSekliId == 1 || Model.TalepSekliId == 2)
                {
                    <div class="w3-col s12 w3-padding">
                        <label><strong>Müşteri Arama Tarihi:</strong> @Model.MusteriAramaTarihi</label>
                    </div>
                    <div class="w3-col s12 w3-padding">
                        <label><strong>Şoför:</strong> @Model.Sofor</label>
                    </div>
                    <div class="w3-col s12 w3-padding">
                        <label><strong>Hizmet:</strong> @Model.Hizmet</label>
                    </div>
                }
                @if (Model.TalepSekliId == 3)
                {
                    <div class="w3-col s12 w3-padding">
                        <label><strong>Müşteri Atölye Geliş Tarihi:</strong> @Model.MusteriAtolyeGelisTarihi</label>
                    </div>
                }
            </div>
            <hr />
        </div>
    </div>

    <div class="w3-panel w3-third">
        <div class="w3-row-padding w3-card w3-padding-top" style="height:337px;">
            <div class="w3-row w3-padding-left">
                <h4>Müşteri Bilgisi</h4>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 w3-padding">
                    <label><strong>Müşteri:</strong> @Model.Musteri</label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label><strong>Müşteri Tipi:</strong> @Model.MusteriTipi</label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label>
                        <strong>Telefon:</strong>
                        @if (Model.Telefon.Count > 0)
                        {
                            foreach (var telefon in Model.Telefon)
                            {
                                <label>@telefon</label>
                                <br />
                            }
                        }
                    </label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label>
                        <strong>Email:</strong>
                        @if (Model.Email.Count > 0)
                        {
                            foreach (var email in Model.Email)
                            {
                                <label>@email</label>
                                <br />
                            }
                        }
                    </label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label><strong>Adres:</strong> @Model.Adres</label>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <div class="w3-panel w3-third">
        <div class="w3-row-padding w3-card w3-padding-top" style="height:337px;">
            <div class="w3-row w3-padding-left">
                <h4>Araç Bilgisi</h4>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 w3-padding">
                    <label><strong>Marka/Model:</strong> @Model.MarkaModel</label>
                </div>
                <div class="w3-col s12 w3-padding">
                    <label><strong>Plaka:</strong> @Model.Plaka</label>
                </div>
            </div>
            <hr />
        </div>
    </div>

    @if (Model.TalepSekliId == 4)
    {
        <div class="w3-panel">
            <div class="w3-row-padding w3-card w3-padding-top">
                <div class="w3-row w3-padding-left">
                    <h4>Kargo Bilgisi</h4>
                </div>
                <div class="w3-row">
                    <div class="w3-col s4 w3-padding">
                        <label><strong>Kargo Veriliş Tarihi:</strong> @Model.KargoyaVerilisTarihi</label>
                    </div>
                    <div class="w3-col s4 w3-padding">
                        <label><strong>Arama Tarihi:</strong> @Model.AramaTarihi</label>
                    </div>
                    <div class="w3-col s4 w3-padding">
                        <label><strong>Kargo Firması:</strong> @Model.KargoFirmasi</label>
                    </div>
                    <div class="w3-col s4 w3-padding">
                        <label><strong>Gönderi Kodu:</strong> @Model.GonderiKodu</label>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    }
</div>



<div class="w3-row" style="text-align:center !important;">
    <a class="w3-btn w3-ripple w3-green" id="" style="margin-left:10px;">Teklif</a>
    <button class="w3-btn w3-ripple w3-blue" id="btnIscilikEkle" style="margin-left:10px;">İşçilik Ekle</button>
    <a class="w3-btn w3-ripple w3-blue-gray" id="" style="margin-left:10px;">Parça Ekle</a>
</div>

@if (Model.Parcalar != null && Model.Parcalar.Any(x => x.Selected))
{
    <div class="w3-panel">
        <div class="w3-row-padding w3-card w3-padding-top ">
            <table id="calculate">
                <thead>
                    <tr>
                        <th></th>
                        <th>Parçalar</th>
                        <th>Adet</th>
                        <th>Birim Fiyat</th>
                        <th>İskonto</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Parcalar.Where(x => x.Selected).ToList())
                    {
                        <tr>
                            <td>
                                <input class="w3-check" type="checkbox" @if (item.Selected) { <text> checked </text> } />
                            </td>
                            <td>
                                <label>@item.Text</label>
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpAdetParca" type="number" />
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpBirimFiyatParca" type="number" />
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpIskontoParca" type="number" />
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpToplamFiyatParca" type="number" disabled />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <div class="w3-row" style="margin-top:30px;">
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Toplam:</strong></label>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Genel İskonto</strong></label>
                    <input class="w3-input w3-border w3-round" type="number" />
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>KDV</strong></label>
                    <input class="w3-input w3-border w3-round" type="number" />
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Genel Toplam:</strong></label>
                </div>
            </div>

        </div>
    </div>
}


@if (Model.Iscilikler != null && Model.Iscilikler.Any(x => x.Selected))
{
    <div class="w3-panel">
        <div class="w3-row-padding w3-card w3-padding-top ">
            <table id="calculate">
                <thead>
                    <tr>
                        <th></th>
                        <th>İşçilik</th>
                        <th>Birim Fiyat</th>
                        <th>İskonto</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Iscilikler.Where(x => x.Selected).ToList())
                    {
                        <tr>
                            <td>
                                <input class="w3-check chkIscilik" data-value="@item.Value" type="checkbox" @if (item.Selected) { <text> checked </text> } />
                            </td>
                            <td>
                                <label>@item.Text</label>
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpBirimFiyatIscilik" data-value="@item.Value" type="number" value="@item.BirimFiyat" />
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpIskontoIscilik" data-value="@item.Value" type="number" value="@item.ParcaIskonto" />
                            </td>
                            <td>
                                <input class="w3-input w3-border w3-round inpToplamFiyatIscilik" data-value="@item.Value" type="number" value="@item.BirimToplamFiyat" disabled />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="w3-row" style="margin-top:30px;">
                <div class="w3-row w3-col s12 m3 l3 w3-padding">
                    <label><strong>Toplam:</strong></label>
                    <label id="toplamIscilik">@Model.ToplamFiyat</label>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>Genel İskonto</strong></label>
                    <input class="w3-input w3-border w3-round" type="number" id="iscilikGenelIskonto" value="@Model.GenelIskonto" />
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s12 m3 l3 w3-padding">
                    <label><strong>KDV</strong></label>
                    <input class="w3-input w3-border w3-round" type="number" id="iscilikKDV" value="@Model.KDV" />
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-row w3-col s12 m3 l3 w3-padding">
                    <label><strong>Genel Toplam:</strong></label>
                    <label id="genelToplamIscilik">@Model.GenelToplam</label>
                </div>
            </div>

        </div>
    </div>
}

@if ((Model.Iscilikler != null && Model.Iscilikler.Any(x => x.Selected)) || (Model.Parcalar != null && Model.Parcalar.Any(x => x.Selected)))
{
    <div class="w3-row w3-margin-top w3-margin-bottom">
        <button class="btn-login w3-green w3-btn w3-round w3-block" id="btnKaydetForm">Kaydet</button>
    </div>
}

@if (Model.Notlar != null)
{
    <div class="w3-panel">
        <div class="w3-row-padding w3-card w3-padding-top">
            <div class="w3-row">
                <div class="w3-row w3-padding-left">
                    <h4>Notlar</h4>
                </div>
                <label>@Model.Notlar</label>
            </div>
            <hr />
        </div>
    </div>
}

@if (Model.ArizaBildirim.Count > 0 && Model.ArizaBildirim.Any(x => x.Selected)) 
{
    <div class="w3-panel">
        <div class="w3-row-padding w3-card w3-padding-top">
            <div class="w3-row">
                <div class="w3-row w3-padding-left">
                    <h4>Arıza Bildirimleri</h4>
                </div>
                @if (Model.ArizaBildirim != null)
                {
                    <ul>
                        @foreach (var item in Model.ArizaBildirim.Where(x => x.Selected).ToList())
                        {
                            <li>@item.Text</li>
                        }
                    </ul>
                }
            </div>
            <hr />
        </div>
    </div>
}

<div id="modalIscilikEkle" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-teal">
            <h5>İşçilik Ekle</h5>
        </header>
        <div class="w3-row w3-margin" id="">
            <div style="display: flex; justify-content: center; gap: 10px;">
                <div class="w3-row-padding w3-padding-top ">
                    <button type="button" class="w3-green" id="addNewWorkship"><i class="fa fa-plus"></i></button>
                    <table id="tableDYI">
                        <thead>
                            <tr>
                                <th>DYI</th>
                                <th>DYI Maliyeti</th>
                                <th>Adet</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="w3-input w3-border w3-round DYI" type="text" />
                                </td>
                                <td>
                                    <input class="w3-input w3-border w3-round DYIMaliyet" type="number" />
                                </td>
                                <td>
                                    <input class="w3-input w3-border w3-round DYIAdet" type="number" />
                                </td>
                                <td>
                                    <input class="w3-input w3-border w3-round DYITutar" type="number" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="w3-row w3-margin" id="">
            <div style="display: flex; justify-content: center; gap: 10px;">
                <div class="w3-row-padding w3-padding-top ">
                    <button type="button" class="w3-green" id="addNewWorkship"><i class="fa fa-plus"></i></button>
                    <table id="tableDYI">
                        <thead>
                            <tr>
                                <th>DYI</th>
                                <th>DYI Maliyeti</th>
                                <th>Adet</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="w3-input w3-border w3-round DYI" type="text" />
                                </td>
                                <td>
                                    <input class="w3-input w3-border w3-round DYIMaliyet" type="number" />
                                </td>
                                <td>
                                    <input class="w3-input w3-border w3-round DYIAdet" type="number" />
                                </td>
                                <td>
                                    <input class="w3-input w3-border w3-round DYITutar" type="number" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="w3-row w3-right" style="margin-bottom:20px;">
        <button id="btnOnaylaIscilik" class="w3-btn w3-ripple w3-green">Onayla</button>
        <button id="btnVazgecIscilik" class="w3-btn w3-ripple w3-red">Vazgeç</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        //-------------------------------------------------Parça
        $('.inpAdetParca, .inpBirimFiyatParca, .inpIskontoParca').on('input', function () {
            var satir = $(this).closest('tr');
            var adet = parseFloat(satir.find('.inpAdetParca').val());
            var birimFiyat = parseFloat(satir.find('.inpBirimFiyatParca').val());
            var iskonto = parseFloat(satir.find('.inpIskontoParca').val());

            // İskonto kontrolü
            if (isNaN(iskonto)) {
                iskonto = 0;
            }

            var toplamFiyat = (adet * birimFiyat) - ((adet * birimFiyat) * iskonto / 100);
            satir.find('.inpToplamFiyatParca').val(toplamFiyat);
        });
        //-------------------------------------------------
        //-------------------------------------------------İşçilik
        $('.inpBirimFiyatIscilik, .inpIskontoIscilik').on('input', function () {
            var satir = $(this).closest('tr');
            var birimFiyat = parseFloat(satir.find('.inpBirimFiyatIscilik').val());
            var iskonto = parseFloat(satir.find('.inpIskontoIscilik').val());

            // İskonto kontrolü
            if (isNaN(iskonto)) {
                iskonto = 0;
            }

            var toplamFiyat = birimFiyat - (birimFiyat * iskonto / 100);
            satir.find('.inpToplamFiyatIscilik').val(toplamFiyat);
        });

        function HesaplaToplamIscilik() {
            var toplam = 0;
            $('.inpToplamFiyatIscilik').each(function () {
                var deger = $(this).val();
                if (deger) {
                    toplam += parseFloat(deger);
                }
            });
            $('#toplamIscilik').text(toplam.toFixed(2));
        }

        // Input değerleri değiştiğinde hesaplamayı yap
        $('.inpBirimFiyatIscilik, .inpIskontoIscilik, .inpToplamFiyatIscilik').on('input', function () {
            HesaplaToplamIscilik();
        });

        //Genel İşçilik İskonto
        $('#iscilikGenelIskonto').on('input', function () {
            var iskontoDegeri = $(this).val();
            $('.chkIscilik:checked').each(function () {
                var tr = $(this).closest('tr');
                var birimFiyatInput = tr.find('.inpBirimFiyatIscilik');
                var iskontoInput = tr.find('.inpIskontoIscilik');
                if (birimFiyatInput.val() !== '') {
                    iskontoInput.val(iskontoDegeri);
                    var satir = tr;
                    var birimFiyat = parseFloat(birimFiyatInput.val());
                    var iskonto = parseFloat(iskontoDegeri);

                    // İskonto kontrolü
                    if (isNaN(iskonto)) {
                        iskonto = 0;
                    }

                    var toplamFiyat = birimFiyat - (birimFiyat * iskonto / 100);
                    satir.find('.inpToplamFiyatIscilik').val(toplamFiyat);
                }
            });

            HesaplaToplamIscilik();
        });

        //İşçilik KDV
        $('#iscilikKDV').on('input', function () {
            var iscilikKDV = $(this).val();
            var toplamIscilik = parseFloat($('#toplamIscilik').text());

            if (!isNaN(iscilikKDV) && !isNaN(toplamIscilik)) {
                var genelToplamIscilik = toplamIscilik + (toplamIscilik * iscilikKDV / 100);
                $('#genelToplamIscilik').text(genelToplamIscilik.toFixed(2));
            }
        });
        //-------------------------------------------------
    });

    $('#btnIscilikEkle').on('click', function () {
        document.getElementById("modalIscilikEkle").style.display = "block";
    });

    $('#btnVazgecIscilik').on('click', function () {
        document.getElementById("modalIscilikEkle").style.display = "none";
    });

    $('#addNewWorkship').click(function () {
        var newRow = '<tr>' +
            '<td><input class="w3-input w3-border w3-round DYI" type="text" /></td>' +
            '<td><input class="w3-input w3-border w3-round DYIMaliyet" type="number" /></td>' +
            '<td><input class="w3-input w3-border w3-round DYIAdet" type="number" /></td>' +
            '<td><input class="w3-input w3-border w3-round DYITutar" type="number" /></td>' +
            '</tr>';

        $('#tableDYI tbody').append(newRow);
    });

    $('.DYIMaliyet, .DYIAdet').on('input', function () {
        var satir = $(this).closest('tr');
        var maliyet = parseFloat(satir.find('.DYIMaliyet').val());
        var adet = parseFloat(satir.find('.DYIAdet').val());

        var toplamFiyat = maliyet * adet;
        satir.find('.DYITutar').val(toplamFiyat);
    });

    $('#btnKaydetForm').on('click', function () {
        var model = {
            TalepId: @Model.TalepNo,
            Iscilik: $('.chkIscilik:checked').map(function () { return $(this).data('value'); }).get().join(','),
            BirimFiyat: $('.chkIscilik:checked').map(function () { return $(this).data('value') + '-' + $(this).closest('tr').find('.inpBirimFiyatIscilik').val(); }).get().join(';'),
            ParcaIskonto: $('.chkIscilik:checked').map(function () { return $(this).data('value') + '-' + $(this).closest('tr').find('.inpIskontoIscilik').val(); }).get().join(';'),
            GenelIskonto: $('#iscilikGenelIskonto').val(),
            BirimToplamFiyat: $('.chkIscilik:checked').map(function () { return $(this).data('value') + '-' + $(this).closest('tr').find('.inpToplamFiyatIscilik').val(); }).get().join(';'),
            ToplamFiyat: $('#toplamIscilik').text(),
            KDV: $('#iscilikKDV').val(),
            GenelToplam: $('#genelToplamIscilik').text()
        };

    $.ajax({
        url: '@Url.Action("ShowTicketDetailSave","Ticket")',
        method: 'POST',
        data: { model: model },
        success: function (response) {
            debugger;
            if (response) {
                location.reload();
            }
        },
        error: function (xhr, status, error) {
            console.log(xhr.responseText);
        }
    });
});

</script>

