@model List<SahinRektefiyeSoln.Models.ViewModels.IsEmri.TicketListModel>

@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .icon-container {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }

    .icon-button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
</style>

<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Scripts/DatetimePicker/jquery.datetimepicker.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<div class="w3-panel">
    <div class="w3-row-padding w3-card w3-padding-top ">
        <div class="w3-padding">
            @if (Model == null)
            {
                <div class="w3-panel w3-pale-blue w3-border">
                    <h3>Talep Bulunamadı</h3>
                </div>


            }
            else
            {
                if (Model.Count() == 0)
                {
                    <div class="w3-panel w3-pale-blue w3-border">
                        <h3>Talep Bulunamadı</h3>
                    </div>
                }
                else
                {

                    @*
                                                public int TalepNo { get; set; }
                        public string Musteri { get; set; }
                        public DateTime MusteriAramaTarihi { get; set; }
                        public string AtananKisi { get; set; }
                        public string OlustuanKisi { get; set; }
                    *@

                    <table class="w3-table-all w3-hoverable w3-margin-top w3-margin-bottom w3-small">
                        <thead>
                            <tr>
                                @if (ViewBag.CanEdit)
                                {
                                    <th>İşlemler</th>
                                }
                                <th>Talep Numarası</th>
                                <th>Müşteri</th>
                                <th>Müşteri Arama Tarihi</th>
                                <th>Atanan Kişi</th>
                                <th>Oluşturan Kişi</th>
                                <th>Talep Statüsü</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var talep in Model)
                            {
                                <tr>

                                    @if (ViewBag.CanEdit)
                                    {
                                        <td class="w3-small">
                                            <a href="/Ticket/Edit?id=@talep.TalepNo" title="Talep Görüntüle"><i class="fa fa-eye w3-hover-opacity" aria-hidden="true" style="padding:5px;"></i></a>
                                            <a href="/Ticket/DetailEdit?id=@talep.TalepNo" title="Arıza Bildirim Formu"><i class="fa fa-file-text-o w3-hover-opacity" aria-hidden="true" style="padding:5px;"></i></a>
                                            <a href="/Ticket/CreatePdf?id=@talep.TalepNo" title="Arıza Bildirim Formu İndir"><i class="fa fa-file-pdf-o w3-hover-opacity" aria-hidden="true" style="padding:5px;"></i></a>
                                            @if (talep.Durum == "Talep Açıldı")
                                            {
                                                <div class="icon-container">
                                                    <form method="post" action="@Url.Action("ApproveTicket", "Ticket", new { id = talep.TalepNo })">
                                                        <button type="submit" class="icon-button" title="Talebi Onayla">
                                                            <i class="fa fa-check-circle w3-text-green w3-hover-opacity" aria-hidden="true"></i>
                                                        </button>
                                                    </form>
                                                </div>

                                                <div class="icon-container">
                                                    <button type="button" class="icon-button btnRejectTicket" title="Talebi Reddet" data-id="@talep.TalepNo">
                                                        <i class="fa fa-times-circle w3-text-red w3-hover-opacity" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            }
                                            @*<a href="@Url.Action("ApproveTicket","Ticket",new {id= talep.TalepNo})" title="Talebi Onayla"><i class="fa fa-check-circle w3-text-green w3-hover-opacity" aria-hidden="true" style="padding:5px;"></i></a>*@
                                        </td>
                                    }
                                    <td>@talep.TalepNo </td>
                                    <td>@talep.Musteri </td>
                                    @*<td>@talep.MusteriAramaTarihi.Value.Date </td>*@
                                    @if (talep.MusteriAramaTarihi.HasValue)
                                    {
                                        <td>@talep.MusteriAramaTarihi.Value.Date</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@talep.AtananKisi </td>
                                    <td>@talep.OlustuanKisi </td>

                                    @if (talep.Durum == "Talep Açıldı")
                                    {
                                        <td style="color:cornflowerblue">@talep.Durum</td>
                                    }
                                    else
                                    {
                                        <td style="color:green">@talep.Durum</td>
                                    }

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>@*<td class="w3-center w3-padding-4" colspan="100%"> @Html.Pager(Model.musteriler.PageSize, Model.musteriler.PageNumber, Model.musteriler.TotalItemCount)</td>*@</tr>
                        </tfoot>
                    </table>
                }
            }

        </div>
    </div>
</div>


<div id="RejectTicketModal" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content w3-card-4" style="width: 30%; height: 15%;">
        <header class="w3-container w3-teal">
            <h5>Talep silinecektir. Onaylıyor musunuz ?</h5>
        </header>
        <div class="w3-container">
            <div class="w3-row w3-margin" id="MusteriModalContent">
                <div style="display: flex; justify-content: center; gap: 10px;">
                    <button id="btnOnayla" class="w3-btn w3-ripple w3-green">Onayla</button>
                    <button id="btnVazgec" class="w3-btn w3-ripple w3-red">Vazgeç</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.btnRejectTicket').on('click', function () {
            $("#RejectTicketModal").show();
        });
    });

    $('#btnVazgec').on('click', function () {
        document.getElementById("RejectTicketModal").style.display = "none";
    });

    $('#btnOnayla').on('click', function () {
        var talepId = $(this).data('id');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RejectTicket","Ticket")',
            data: { id: talepId },
            success: function () {
                alert('oldu');
            },
            error: function () {
                alert('Talebin detay kaydı olduğundan talep silinemez!');
            }
        });
        document.getElementById("RejectTicketModal").style.display = "none";
    });
</script>



<script src="~/Scripts/DatetimePicker/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.tr.js"></script>
