@using SahinRektefiyeSoln.Models.PagingModels;
@model SahinRektefiyeSoln.Models.ViewModels.Services.AracCinsleriPageModel

@{
	ViewBag.Title = "Arac Tipleri";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("SetPageHeader", "Admin", new { pageTitle = "Arac Tipileri", pagePermission = "XXXXX" })
@using Vereyon.Web;

<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		<div class="w3-row w3-row-padding  w3-margin-top">
			@Html.RenderFlashMessages()
		</div>
		@using (Html.BeginForm("AracCinsleri", "Service", FormMethod.Post))
		{
			<div class="w3-row">
				<div class="w3-row">
					<div class="w3-quarter w3-padding">
						<label>Araç Tipi Adı</label>
						@Html.EditorFor(model => model.filter.Aciklamasi, new { htmlAttributes = new { @class = "w3-input w3-border w3-round", maxlength = "56", autocomplete = "off", id = "txtAracTipi" } })
					</div>
					<div class="w3-quarter w3-padding">
						<div class="w3-half">	<br /><button class="w3-btn w3-ripple w3-blue w3-left w3-round">Sorgula</button></div>
						<div class="w3-half">	<br /><a href="/Service/AracTipiEkle" class="w3-btn w3-ripple w3-green  w3-round"><i class="fa fa-users fa-users"></i>&nbsp;Yeni Araç Tipi Ekle</a></div>
					</div>
				</div>
			</div>
		}
		<div class="w3-padding">
			@if (Model == null)
			{
				<div class="w3-panel w3-pale-blue w3-border">
					<h3>Bilgi!</h3>
					<p>Araç tiplerini yukarıdan aratabilirsiniz...</p>
				</div>
			}
			else
			{
				if (Model.aracTipleri.Count() == 0) //Aranan Araç bulunamadığı için yeni oluşturmak istermisiniz
				{
					<div class="w3-panel w3-pale-blue w3-border">
						<h3>Aranan araç tipi bulunamadı!</h3>
					</div>
				}
				else
				{
					<table class="w3-table-all w3-hoverable w3-margin-top w3-margin-bottom w3-small">
						<thead>
							<tr>
								<th></th>
								<th>Araç Tipi</th>
								<th>Oluşturan</th>
								<th>Oluşturulan Tarih</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var aracTipi in Model.aracTipleri)
							{
								<tr>
									<td>
										<a href="/Service/AracTipiDuzenle?AracTipId=@aracTipi.AracTipId" title="Araç Tipi Bilgilerini Görüntülemek ve Düzenlemek için tıklayın."><i class="fa fa-pencil-square-o w3-hover-opacity" aria-hidden="true"></i></a>
									</td>
									<td>@aracTipi.Aciklamasi</td>
									<td>@aracTipi.Creator</td>
									<td>@(aracTipi.CreatedDate != null ? aracTipi.CreatedDate.Value.ToShortDateString() : "")</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr><td class="w3-center w3-padding-4" colspan="100%"> @Html.Pager(Model.aracTipleri.PageSize, Model.aracTipleri.PageNumber, Model.aracTipleri.TotalItemCount)</td></tr>
						</tfoot>
					</table>
				}
			}
		</div>
	</div>
</div>





