@model SahinRektefiyeSoln.Models.Iscilikler
@{
	ViewBag.Title = "IscilikDuzenle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Vereyon.Web;
@Html.Action("SetPageHeader", "Admin", new { pageTitle = "İşçilik Düzenleme Ekranı", pagePermission = "XXXXX" })


<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		<div class="w3-row w3-row-padding  w3-margin-top">
			@Html.RenderFlashMessages()
		</div>

		@using (Html.BeginForm("IscilikDuzenle", "Service", FormMethod.Post))
		{
			@Html.HiddenFor(x=>x.IscilikId)
		<div class="w3-row">
			<div class="w3-quarter w3-padding">
				<label>İşçilik Kodu</label>
				@Html.EditorFor(model => model.IscilikKodu, new { htmlAttributes = new { @class = "w3-input w3-border w3-round uppercase", @required = "required", autocomplete = "off", maxlength = "16" } })
			</div>
			<div class="w3-quarter w3-padding">
				<label>İşçilik Adı</label>
				@Html.EditorFor(model => model.IscilikAdi, new { htmlAttributes = new { @class = "w3-input w3-border w3-round uppercase", @required = "required", autocomplete = "off", maxlength = "56" } })
			</div>
			<div class="w3-quarter w3-padding">
				<label>İşçilik Tipi</label>
				@Html.DropDownList("IscilikTipId", (SelectList)ViewBag.IscilikTipleri, "İşçilik Tipi Seçiniz", htmlAttributes: new { @class = "w3-select w3-border w3-round", @Id = "IscilikTipId", required = "required" })
			</div>
			<div class="w3-quarter w3-padding">
				<label>Birim Saat </label>
				@Html.EditorFor(model => model.BirimSaat, new { htmlAttributes = new { @class = "w3-input w3-border w3-round ", @required = "required", autocomplete = "off", } })
			</div>

		</div>
			@*<div class="w3-row">
		
			<div class="w3-quarter w3-padding">
				<label>Marka</label>
				@Html.DropDownList("CompanyId", (SelectList)ViewBag.Companies, "Marka Seçiniz", htmlAttributes: new { @class = "w3-select w3-border w3-round", @Id = "CompanyId", required = "required" })
			</div>
		</div>*@
			<div class="w3-row">
				<div class="w3-quarter w3-padding-right w3-left">
					<a href="~/Service/Iscilikler" class=" w3-margin w3-green w3-btn w3-left w3-round">Geri</a>
				</div>
				<div class="w3-quarter w3-padding w3-right">
					<button type="submit" class=" w3-margin w3-green w3-btn w3-right w3-round">Kaydet</button>
				</div>
			</div>
		}
	</div>
</div>