@model SahinRektefiyeSoln.Models.IscilikTipleri
@{
	ViewBag.Title = "IscilikTipiDuzenle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Vereyon.Web;
@Html.Action("SetPageHeader", "Admin", new { pageTitle = "İşçilik Tipi Düzenleme Ekranı", pagePermission = "XXXXX" })

<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		<div class="w3-row w3-row-padding  w3-margin-top">
			@Html.RenderFlashMessages()
		</div>

		@using (Html.BeginForm("IscilikTipiDuzenle", "Service", FormMethod.Post))
		{
			@Html.HiddenFor(x=>x.IscilikTipId)
			<div class="w3-row">
				<div class="w3-quarter w3-padding">
					<label>İşçilik Açıklaması</label>
					@Html.EditorFor(model => model.Aciklamasi, new { htmlAttributes = new { @class = "w3-input w3-border w3-round uppercase", @required = "required", autocomplete = "off", maxlength = "56" } })
				</div>
				<div class="w3-quarter w3-padding">
					<label>Birim Fiyatı</label>
					@Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "w3-input w3-border w3-round uppercase", @required = "required", autocomplete = "off", maxlength = "56" } })
				</div>

			</div>
			<div class="w3-row">
				<div class="w3-quarter w3-padding-right w3-left">
					<a href="~/Service/IscilikTipleri" class=" w3-margin w3-green w3-btn w3-left w3-round">Geri</a>
				</div>
				<div class="w3-quarter w3-padding w3-right">
					<button type="submit" class=" w3-margin w3-green w3-btn w3-right w3-round">Kaydet</button>
				</div>
			</div>
		}
	</div>
</div>


