@using PagedList
@using PagedList.Mvc
@using System.Web.Script.Serialization;
@using Newtonsoft.Json;
@{ 
	string Alternatifler = string.Empty;
}
@model SahinRektefiyeSoln.Models.ViewModels.IsEmri.IsEmriParcaEkleViewModel

<style>
	#pagination li, ul, h2 {
		margin-left: auto;
		margin-right: auto;
		width: 55em
	}
</style>
<script>
	$(document).ready(function () {
		$('.active').children().addClass("w3-button w3-green w3-round");

	});


</script>
<div class="w3-row w3-small w3-margin-top">@Model.parcalar.TotalItemCount kayıt bulundu. @Model.parcalar.PageCount sayfadan @(Model.parcalar.PageCount < Model.parcalar.PageNumber ? 0 : Model.parcalar.PageNumber) ncı </div>

<table class="w3-table-all w3-hoverable  w3-margin-bottom fontDuzgun" id="dtFatura">
	<thead>
		<tr>
			<th width="20%">Parça Tipi</th>
			<th width="20%">Parça No</th>
			<th width="30%">Parça Adı</th>
			<th width="10%">Stok</th>
			<th width="10%">Satış Fiyatı</th>
			<th width="10%">Miktar</th>
			<th width="10%">Konsinye</th>
			<th width="10%"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var stokKart in Model.parcalar)
		{
			Alternatifler = "Alternatifler \n";
			foreach (var item in stokKart.StokKartiAlternatif1.ToList())
			{
				Alternatifler += item.StokKarti.ParcaAdi + "-" + item.StokKarti.ParcaNo + "\n";
			}
			<tr>

				<td>
					@stokKart.ParcaTipleri.ParcaTipAciklamasi
				</td>
				<td>
					@stokKart.ParcaNo
				</td>
				<td>
					<label title="@Alternatifler">@stokKart.ParcaAdi</label>
				</td>
				<td>@stokKart.ToplamStok</td>
				<td>
					<input class="onlynumeric w3-input w3-border w3-round" value="@stokKart.SatisBirimFiyati" id="stokKartIdSatisFiyat-@stokKart.StokKartiId" />
				</td>
				<td>
					<input type="number" class="onlynumeric w3-input w3-border w3-round" value="1" id="stokKartId-@stokKart.StokKartiId" onkeypress="return isNumberKey(event)" />
				</td>
				<td>
					<input type="checkbox" class="w3-check w3-border w3-round" value="1" id="chkstokKartId-@stokKart.StokKartiId" />
				</td>
				<td><button class="btn-login w3-blue w3-btn " title="Parça Seç" stokKart="@stokKart.StokKartiId" onclick="btnParcaEkle_click('month', this)"><i class="fa fa-arrow-circle-o-right w3-small" aria-hidden="true"></i> Ekle</button></td>
			</tr>
		}
	</tbody>
</table>

<div class="pagination w3-margin-bottom w3-row">
	@Html.PagedListPager(Model.parcalar, page => Url.Action("IsEmriStokKartEkleNew",
														   new
														   {
															   ParcaAdi = Model.ParcaAdi,
															   ParcaNo = Model.ParcaNo,
															   ParcaTipiId = Model.ParcaTipiId,
															   IsEmriId= ViewBag.IsEmriId,
															   BelirtiKodu = ViewBag.BelirtiKodu,
															   page
														   }

														   ), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
														   {
															   UpdateTargetId = "datatable-loadStokKart"
														   }))
</div>
