@model SahinRektefiyeSoln.Models.WorkOrders

@{
	Layout = null;
	ViewBag.Title = "İş Emri Yazdır";
	double CsExWork = 0;
	if (Model.SwExWorkShip != null)
	{
		CsExWork = Model.SwExWorkShip == true ? (double)Model.CsExWorkShip : 0;
	}
	int Counter = 0;
	string table = "<table class='FixingTable' style='font-size: 12px!important;width:100%;'>";
	int fixingCount = 0;
	Dictionary<string, int> fixingDic = new Dictionary<string, int>();
	switch (Model.TaskId)
	{
		case 1:
			fixingDic = ViewBag.KlimaFixing;
			break;
		case 2:
			fixingDic = ViewBag.EgrFixing;
			break;
		case 3:
			fixingDic = ViewBag.SanzimanFixing;
			break;
		case 4:
			fixingDic = ViewBag.TurboFixing;
			break;
		case 5:
			fixingDic = ViewBag.AlternatorFixing;
			break;
		case 6:
			fixingDic = ViewBag.MarsMotorFixing;
			break;
		case 7:
			fixingDic = ViewBag.direksiyonPompaFixing;
			break;
		case 8:
			fixingDic = ViewBag.direksiyonMekanikFixing;
			break;
		case 9:
			fixingDic = ViewBag.direksiyonHidrolikFixing;
			break;
		case 10:
			fixingDic = ViewBag.DpfFixing;
			break;

	}
	fixingCount = fixingDic.Count();
	foreach (var item in fixingDic)
	{
		table += Counter % 2 == 0 ? "<tr>" : "";
		table += "<td>&bull;&nbsp;" + item.Key.ToString() + "</td>";
		Counter += 1;
		table += (fixingDic.Count() % 2 == 1 && Counter % 2 == 1 && fixingDic.Count() == Counter) == true ? "<td>&nbsp;</td>" : "";
		table += Counter % 2 == 0 ? "</tr>" : "";

	}
	table += "</table>";
}
<link href="~/Styles/Print.css" rel="stylesheet" />
<script>
	window.print();
</script>
<style>
	/*Print Deneme*/

	.centertext {
		text-align: center;
	}

	.lefttext {
		text-align: left;
	}

	.righttext {
		text-align: right;
	}


	.FixingTableContent th, td {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.FixingTableContent {
		border-collapse: collapse;
	}

	.FixingTable th, td {
		border: 1px solid #000;
	}

	.FixingTable {
		border-collapse: collapse;
	}

	.WorkOrderParts {
		border-collapse: collapse;
	}

		.WorkOrderParts th, td {
			border-collapse: collapse;
		}

	.HeaderImages th, td {
		border: 1px solid #000;
	}

	.HeaderImages {
		border-collapse: collapse;
	}

	.informationTable th, td {
		border: 1px solid #000;
	}

	.informationTable {
		border-collapse: collapse;
	}

	.w3-right {
		float: right !important
	}

	.w3-right-align {
		text-align: right !important
	}

	.w3-left-align {
		text-align: left !important
	}

	.w3-left {
		float: left !important
	}

	.padding-leftright-5 {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.padding-left-5 {
		padding-left: 5px !important;
	}

	.padding-right-5 {
		padding-right: 5px !important
	}

	.padding-top-5 {
		padding-top: 5px !important;
	}

	.padding-bottom-5 {
		padding-bottom: 5px !important;
	}
</style>

<div class=Section2>
	<table class="HeaderImages" style="width:100%;border-bottom:none!important;">
		<tr>
			<td>
				<img src="http://www.revmer.net/Images/logo.png" class="w3-circle w3-margin-right" style="width:150px;height:70px">
			</td>
			<td style="width:500px;"></td>
			<td>
				<img src="http://www.revmer.net/Images/Kalite.jpg" style="max-width:150px;max-height:70px" height="70" width="150" />
			</td>
		</tr>
	</table>


	<table class="informationTable" style="width:100%;border-top:1px #000!important;" cellpadding="3">
		<tr class="padding-bottom-5 padding-top-5">
			@switch (Model.TaskId)
	{
		case 1:
			<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">KLİMA ARIZA TESPİT FORMU</label></td>
	break;
case 2:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">EGR ARIZA TESPİT FORMU</label></td>
break;
case 3:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">ŞANZIMAN ARIZA TESPİT FORMU</label></td>
break;
case 4:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">TURBOŞARJ ARIZA TESPİT FORMU</label></td>
break;
case 5:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">ALTERNATÖR ARIZA TESPİT FORMU</label></td>
break;
case 6:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">MARŞ MOTOR ARIZA TESPİT FORMU</label></td>
break;
case 7:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">DİREKSİYON POMPA ARIZA TESPİT FORMU</label></td>
break;
case 8:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">DİREKSİYON KUTUSU MEKANİK TESPİT FORMU</label></td>
break;
case 9:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">DİREKSİYON KUTUSU HİDROLİK TESPİT FORMU</label></td>
break;
case 10:
		<td colspan="4" class="centertext" style="font-size:8px!important"><label style="font-size:medium!important;margin-bottom:3px!important;">DPF TESPİT FORMU</label></td>
break;
default:
break;
}

		</tr>
		<tr>
			<td style="border-right:none;" colspan="2">
				<label class="lefttext w3-left w3-right-align">&nbsp; MÜŞTERİ BİLGİLERİ</label>
			</td>
			<td class="w3-right-align" style="border-left:none;" colspan="2"><label class="righttext w3-right w3-left-align"> TARİH : @System.DateTime.Now.ToShortDateString() &nbsp;</label></td>
		</tr>
		<tr style="font:smaller!important">
			<td rowspan="3" style="font-size:14px!important;font-weight: bold;padding:5px!important;width:15%;">&nbsp; @Model.Services.Name</td>
			<td style="width:32%">İş Emri No: @Model.NoWorkOrder</td>
			<td style="width:28%">MARKA : @Model.Companies.Name</td>
			<td style="width:23%">PLAKA : @Model.Plate</td>
		</tr>
		<tr>
			<td>Şase : @Model.VIN</td>
			<td>MODEL : @Model.Vehicles.Name</td>
			<td>
				Yakıt Tipi : @{
					switch (Model.CdFuelType)
					{
						case "0":
							break;
						case "1":
							<text>
								Benzin
							</text>
							break;
						case "2":
							<text>
								Dizel
							</text>
							break;
						default:
							break;
					}

				}
			</td>
		</tr>
		<tr>
			<td>Model Yılı : @Model.CsModelYear</td>
			<td>KM    : @Model.VehicleKm</td>
			<td>
				@switch (Model.TaskId)
				{
					case 3:
						if (!string.IsNullOrWhiteSpace(Model.SanzimanFixing.First().SanzimanType))
						{<text>Şanzıman Tipi : @Model.SanzimanFixing.First().SanzimanType</text>}
					else
					{
						<text></text>
					}
					break;
			}
			</td>

		</tr>

		<tr style="padding-top:5px!important;padding-bottom:5px!important;">
			@switch (Model.TaskId)
	{
		case 1:
			<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">KLİMA BİLGİLERİ</label></td>
	break;
case 2:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">EGR BİLGİLERİ</label></td>
break;
case 3:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">ŞANZIMAN BİLGİLERİ</label></td>
break;
case 4:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;margin-top:5px!important">TURBOŞARJ BİLGİLERİ</label></td>
break;
case 5:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">ALTERNATÖR BİLGİLERİ</label></td>
break;
case 6:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">MARŞ MOTOR BİLGİLERİ</label></td>
break;
case 7:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">DİREKSİYON POMPA BİLGİLERİ</label></td>
break;
case 8:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">DİREKSİYON KUTUSU MEKANİK BİLGİLERİ</label></td>
break;
case 9:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">DİREKSİYON KUTUSU HİDROLİK BİLGİLERİ</label></td>
break;
case 10:
		<td colspan="4" class="lefttext" style="font-size:8px!important;font-weight:bold;"><label style="font-size:medium!important;">DPF BİLGİLERİ</label></td>
break;
default:
break;
}

		</tr>
		<tr>
			<td colspan="2">
				&nbsp;SERİ NO&nbsp;: @Model.SerialNo
			</td>
			<td colspan="2">
				&nbsp;PARÇA NO: @Model.PartNo
			</td>
		</tr>
		<tr>
			@*<td colspan="2">
					&nbsp;TURBO: GARRETT Buraya ileride neler gelebilir sor!
				</td>*@
			<td colspan="4">
				<p style="font-size: 12px!important;margin-top:3px!important;margin-bottom:3px!important">&nbsp;ŞİKAYET&nbsp;: @Model.ComplaintsCustomerRequests</p>
			</td>

		</tr>
	</table>
	@if (fixingCount > 0)
	{
		<p class="customHeader" style="font:bold;margin-top:1px!important;margin-bottom:1px!important;">&nbsp; TESPİTLER</p>
		@Html.Raw(table)
	}




	@switch (Model.TaskId)
	{
		case 1:
			if (!string.IsNullOrWhiteSpace(Model.KlimaFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.KlimaFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 2:
			if (!string.IsNullOrWhiteSpace(Model.EGRFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.EGRFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 3:
			if (!string.IsNullOrWhiteSpace(Model.SanzimanFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.SanzimanFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 4:
			if (!string.IsNullOrWhiteSpace(Model.TurboSarjFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.TurboSarjFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 5:
			if (!string.IsNullOrWhiteSpace(Model.AlternatorFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.AlternatorFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 6:
			if (!string.IsNullOrWhiteSpace(Model.MarsMotorFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.MarsMotorFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 7:
			if (!string.IsNullOrWhiteSpace(Model.DireksiyonPompaFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.DireksiyonPompaFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 8:
			if (!string.IsNullOrWhiteSpace(Model.DireksiyonMekanikFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.DireksiyonMekanikFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 9:
			if (!string.IsNullOrWhiteSpace(Model.DireksiyonHidrolikFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.DireksiyonHidrolikFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
		case 10:
			if (!string.IsNullOrWhiteSpace(Model.DpfFixing.First().TespitAciklama))
			{
				<table class="FixingTableContent">
					<tr>
						<td>
							<p class="customHeader" style="font:bold;color:red;">&nbsp; @Model.DpfFixing.First().TespitAciklama</p>
						</td>
					</tr>
				</table>
			}
			break;
	}

	@if (Model.WorkOrderPhotos.Count > 0)
	{
		<div class="w3-border">
			<p class="customHeader" style="font:bold;margin-top:1px!important;margin-bottom:1px!important;">&nbsp; GÖRSELLER</p>
		</div>
	}

	@if (Model.WorkOrderPhotos.Count > 0)
	{

		<table>
			<tr>
				@foreach (var photos in Model.WorkOrderPhotos.Take(4))
				{
					<td>
						<img src="@Request.Url.GetLeftPart(UriPartial.Authority)/@photos.WOPUrl" style="max-height:150px;max-width:150px" width="160" height="160" />
					</td>
				}

			</tr>
			<tr>
				@foreach (var photos in Model.WorkOrderPhotos.Skip(4).Take(4))
				{
					<td>
						<img src="@Request.Url.GetLeftPart(UriPartial.Authority)/@photos.WOPUrl" style="max-height:160px;max-width:160px" width="160" height="160" />
					</td>
				}
			</tr>
		</table>


	}



	<table class=" WorkOrderParts" style="font-size: 11px!important;width:100%;" cellpadding="3">
		<tr class="w3-light-grey">
			<td>YAPILACAK İŞLEMLER VE FİYAT TEKLİFİ:</td>
			<td>Adet</td>
			<td>Fiyat</td>
		</tr>
		@foreach (var part in Model.WorkOrderParts)
		{
			<tr>
				<td>@part.Parts.Name</td>
				<td>@part.Quantity</td>
				<td>@part.SalesPrice </td>
			</tr>
		}
		<tr>
			<td>
				@if (Model.SwExWorkShip == true)
				{
					<label>Dış İşçilik :  @Model.CsExWorkShip ₺ eklendi.</label>
				}
			</td>
			<td>Toplam:</td>
			<td>@(Model.WorkOrderParts.Sum(x => x.SalesPrice * x.Quantity) + (decimal)CsExWork) ₺ + KDV</td>
		</tr>
		<tr>
			<td></td>
			<td>Genel Toplam:</td>
			<td>@((Model.WorkOrderParts.Sum(x => x.SalesPrice * x.Quantity) + (decimal)CsExWork) + ((Model.WorkOrderParts.Sum(x => x.SalesPrice * x.Quantity) + (decimal)CsExWork) * 18 / 100))  ₺</td>
		</tr>

	</table>


	<div class="centertext">
		<p class="customHeader" style="font:bold;margin-top:1px!important;margin-bottom:1px!important;border:1px solid #000000">Revmer A.Ş. Bahçelievler Mahallesi Detay Sokak No:4 Pendik-İSTANBUL TEL : 0216 444 61 09</p>
	</div>


</div>
